/* Überschriften */
.headers {
  position: fixed;
  top: 0;
  width: 100%;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Fixed background for scroll effect */
.scrollbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15vmax;
  background-color: var(--background);
  z-index: 9;
}

/* Container für alles außer die Überschriften */
main {
  width: 90vw;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vmax;
  margin: 0 auto;
}

.vote-input {
  background-color: var(--element-background);
  color: var(--text-color);
  font-family: var(--font-sans-serif);
  font-size: 1.1rem;

  border-radius: 1rem;
  border: 1px solid var(--element-background);

  margin: 0.5rem auto;
  padding: 0.5rem;
  width: 90%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  flex-wrap: nowrap;
}

/* Label für Kandidaten- oder Ranking-Elemente */
.vote-input label {
  display: block;
  text-align: left;
  max-width: 100%;
  word-wrap: break-word;
  margin-right: 0.5rem;
  flex: 1;
}

/* Input Anpassung */
input[type="checkbox"] {
  width: 1.2rem;
  height: 1.2rem;
  margin-left: auto;
  accent-color: var(--accent);
}

/* h1 Styling */
h1 {
  word-break: break-word;
  overflow-wrap: anywhere;
  max-width: 100vmin;
  font-size: 10vmin;
  text-align: center;
  margin: 0 auto;
}

/* h2 Unterüberschrift */
h2 {
  text-align: center;
  font-family: var(--font-sans-serif);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  padding: 0.5rem;
}

/* Wahlerklärungstext */
.description-text {
  font-family: var(--font-sans-serif);
  color: var(--text-color);
  padding: 1rem;
  min-width: 10rem;
  max-width: 100%;
  text-align: center;
}

/* Beschreibung-Box */
.description {
  padding: 1rem;
  position: relative;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

/* Kandidatencontainer */
.wahl {
  position: relative;
  padding: 1rem;
  width: 90%;
  margin: 0 auto;
}

/* Popups */
.popup-div {
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
  padding: 0.3rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: fit-content;
}

.popup-box {
  display: none;
  background-color: var(--text-color);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.popup-content {
  color: var(--text-color-secondary);
  font: var(--font-sans-serif);
  font-weight: bold;
  text-align: center;
}

.popup-buttons {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  gap: 1rem;
}

.popup-accept {
  background-color: var(--text-color);
  color: var(--text-color-secondary);
  border-radius: 1rem;
  border: 0.1rem solid var(--element-background);
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-deny {
  background-color: var(--warning);
  border-radius: 1rem;
  border: 0.1rem solid rgb(94, 0, 0);
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-accept:hover {
  background-color: var(--element-hover);
  cursor: pointer;
}

.popup-deny:hover {
  background-color: rgb(255, 166, 166);
  color: var(--text-color-secondary);
  cursor: pointer;
}

/* Overlay */
#disable-input {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: none;
}

/* Select Dropdowns (für IRV etc.) */
select {
  background-color: var(--background);
  color: var(--text-color);
  border: 1px solid var(--accent);
  border-radius: 0.375rem;
  font-size: 1rem;
  padding: 0.5rem;
  width: 15.5rem;
}

option {
  background-color: var(--background);
  color: var(--text-color);
}

/* Kandidaten-Labels und andere einzeilige Texte */
.vote-input label,
#election-name,
#description-box {
  display: block; /* oder inline-block, je nach Bedarf */
  white-space: nowrap; /* keine Zeilenumbrüche */
  overflow: hidden; /* Text, der überläuft, ausblenden */
  text-overflow: ellipsis; /* "..." anzeigen */
  max-width: 100%; /* passt sich dem Container an */
}
