main {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
  max-width: 900px;
}

/* Überschreibt die globalen H1 Eigenschaften, sodass die Absände kleiner sind */
h1 {
  margin-bottom: 0.1rem;
  height: fit-content;
  padding-bottom: 0rem;
}

/* Styling des "Zurück zu Hauptseite" Links */
a.back {
  all: unset;
  color: #457ee8;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
}

a.back:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Styling für den zurück Pfeil im Zurück Link */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
  margin-right: 4px;
  line-height: 1;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 2rem;
}

p {
  text-align: center;
  line-break: auto;
}
