/* Container für alles außer die Überschriften*/
main {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5rem;
  margin-top: 2rem;
}

/* Klasse für das Anzeigen eines Kandidaten */
.election {
  /* Kümmert sich um die Position auf der Seite und den Abstand zu anderen Elementen */
  margin: 0.5rem;
  padding: 0.3rem;

  /* Zentriert den Text */
  display: flex;
  flex-wrap: wrap; /* für Zeilenumbruch bei zu vielen Buttons */
  justify-content: center; /* optional: zentriert die Buttons */
  gap: 1rem; /* Abstand zwischen Buttons */
}

/* Style für das label der Kandidatenklasse um den Zeilenumbruch auszulösen */
.election button {
  display: block;
  text-align: center;
  max-width: 25ch;
  width: auto;
  word-wrap: break-word;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

/* Überschreibt die globalen H1 Eigenschaften, sodass die Absände kleiner sind */
h1 {
  margin-bottom: 0.1rem;
  height: fit-content;
  padding-bottom: 0rem;
}

#add-election {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: fit-content;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
}

/* Styling des "Zurück zu Hauptseite" Links */
a.back {
  all: unset;
  color: #457ee8;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
}

a.back:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* Styling für den zurück Pfeil im Zurück Link */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  vertical-align: middle;
  margin-right: 4px;
  line-height: 1;
}

/* Styles für die Popups*/

.popup-div {
  margin-bottom: 1.5rem;
  margin-top: 0.3rem;
  padding: 0.3rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  width: fit-content;
}

.popup-box {
  display: none;
  background-color: var(--text-color);
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.popup-content {
  color: var(--text-color-secondary);
  font: var(--font-sans-serif);
  font-weight: bold;
  text-align: center;
}

.popup-buttons {
  justify-content: center;
  align-items: center;
  margin: auto;
  display: flex;
  gap: 1rem;
}

.popup-accept {
  background-color: var(--text-color);
  color: var(--text-color-secondary);
  border-radius: 1rem;
  border: 0.1rem solid var(--element-background);
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-deny {
  background-color: var(--warning);
  border-radius: 1rem;
  border: 0.1rem solid rgb(94, 0, 0);
  justify-content: center;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.popup-accept:hover {
  background-color: var(--element-hover);
  cursor: pointer;
}

.popup-deny:hover {
  background-color: rgb(255, 166, 166);
  color: var(--text-color-secondary);
  cursor: pointer;
}

#disable-input {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 10;
  display: none;
}
